<div class="header">
  <input type="text" pInputText class="search" placeholder="Поиск по названию" [formControl]="searchInput"/>
    <p-button *ngIf="!(isShowFavorites$ | async)" label="Show Favorites" styleClass="p-button-danger" icon="pi pi-heart" (click)="showFavorites()"></p-button>
    <p-button *ngIf="isShowFavorites$ | async" label="Hide Favorites" icon="pi pi-heart" (click)="hideFavorites()"></p-button>
</div>

<div class="video-wrapper">
  <ng-container *ngIf="isShowFavorites$ | async; else showAllVideos">
    <ng-container *ngFor="let video of favorites$ | async">
      <app-video-item [video]="video"></app-video-item>
    </ng-container>
  </ng-container>

  <ng-template #showAllVideos>
    <ng-container *ngFor="let video of videos$ | async">
      <app-video-item [video]="video"></app-video-item>
    </ng-container>
  </ng-template>
</div>

<button pButton *ngIf="!(isShowFavorites$ | async)" (click)="loadNext()">Load next</button>
